.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 2rem;
  padding: 2rem;
}

.main-poster {
  width: 180%;
  height: 60vh;
  object-fit: cover;
  animation: fadeInOut 8s ease-in-out infinite;

  /* 가장자리 투명 효과 */
  -webkit-mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
  mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
  -webkit-mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);
  mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);
}

/* fadeInOut 애니메이션 정의 */
@keyframes fadeInOut {
  0%, 20% { 
    opacity: 0; 
  }
  30%, 80% { 
    opacity: 1; 
  }
  90%, 100% { 
    opacity: 0; 
  }
}
