.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 2rem;
  padding: 2rem;
}

.main-poster {
  width: 180%; /* 페이지 전체 너비에 맞춤 */
  height: 60vh; /* 배너 크기에 맞춤 */
  object-fit: cover;
  animation: fadeInOut 8s ease-in-out infinite;
}

/* fadeInOut 애니메이션 정의 */
@keyframes fadeInOut {
  0%, 20% { 
    opacity: 0; 
  }
  30%, 80% { 
    opacity: 1; 
  }
  90%, 100% { 
    opacity: 0; 
  }
}
