/* Popular.css */
.popular {
    text-align: center;
    margin-top: 2rem;
    padding: 2rem;
  }

.popular button {
  color: white;
  margin-left: auto;
  margin: 1rem;
}

.fas{
  color: black;
  background-color: transparent;
}

.popular button:hover {
  background-color: #9f3a8b;
}
