/* Profile.css */
.profile {
  text-align: center;
  font-size: 1.4rem;
}

.password-change {
  padding: 5px;
  margin-top: 0px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.password {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 3px 0; /* 위아래 간격을 3px로 줄여서 조정 */
  width: 100%;
  height: 30%;
}

.password label {
  width: 150px; /* 레이블의 고정된 너비로 줄넘김 방지 */
  margin-right: 10px;
  text-align: left;
  white-space: nowrap; /* 줄바꿈 방지 */
}

.password input {
  flex: 1; /* input을 레이블 옆에 맞춤 */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
}

button {
  padding: 10px 15px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #1e90ff; /* Primary blue button */
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #007acc; /* Darker blue on hover */
}

.logout-button {
  margin-top: 15px;
}
