.search {
  padding: 20px;
  color: #fff;
}

.search h2 {
  text-align: center;
}

.search-controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.search-input, select, button {
  color: #fff;
  background-color: #333;
  border: 1px solid #555;
  padding: 8px;
  border-radius: 4px;
  min-width: 120px;
}


.search-input::placeholder {
  color: #999;
}

button {
  cursor: pointer;
}

.search-results {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 20px;
}

.movie-item img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.pagination button {
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  background-color: #333;
  color: white;
  border: 1px solid #555;
}

.pagination span {
  font-size: 18px;
}
