.nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 15px 20px;
  font-size: large;
  z-index: 1;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease; /* 부드러운 전환 효과 */
}

.nav.scrolled {
  background-color: rgba(0, 0, 0, 0.5); /* 스크롤 시 투명도 적용 */
}

.logo {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: large;
  margin-right: auto;
}

.nav-links {
  display: flex;
  margin-right: auto;
  background-color: transparent;
  gap: 10vh;
}

.nav-link, .nav-link2 {
  background-color: transparent;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  text-decoration: none;
  transition: color 0.2s ease, transform 0.2s ease; /* 호버 효과 부드럽게 */
}

.nav-link:hover, .nav-link2:hover{
  color: #ff6347; /* 호버 시 색상 변경 */
  transform: scale(1.1); /* 약간 확대 */
}

.nav-link:active, .nav-link2:active{
  color: #ffd90037; /* 클릭 시 색상 변경 */
  transform: scale(0.9); /* 살짝 축소 */
}

.nav-link2 {
  display: flex;
  align-items: flex-end;
  color:rgb(224, 136, 136);
  margin-left: auto;
}

/* 햄버거 버튼 스타일 */
.hamburger {
  position: absolute;
  display: none;
  flex-direction: column;
  margin: 10vh;
  color: white;
  justify-content: space-around;
  background: transparent;
  border: none;
  cursor: pointer;
  width: 6vh;
  height: 6vh;  
  border-radius: 10px;
  transition: all 0.3s ease;
  z-index: 10; /* 메뉴보다 위로 */
}

.hamburger:hover {
  background-color: transparent;
}

/* 반응형 네비게이션 */
.nav-links {
  display: flex;
  background-color: transparent;
  gap: 10vh;
  transition: all 0.3s ease;
}

.nav-links.open {
  display: flex;
  flex-direction: column;
  background-color: black;
  position: absolute;
  top: 60px; /* nav 높이 이후 */
  right: 0;
  width: 100%;
  height: calc(100vh - 60px);
  gap: 20px;
  align-items: center;
  padding: 20px 0;
}

@media (max-width: 1000px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    display: none;
  }

  .nav-links.open {
    display: flex;
  }
}
