.movie-list {
  display: grid;
  gap: 20px;
  padding-top: 60px;
}

.table-view {
  grid-template-columns: repeat(3, 1fr);
}

.scroll-view {
  grid-template-columns: repeat(3, 1fr);
}

.movie-item {
  text-align: center;
  margin: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  padding: 6px 10px; /* 버튼 크기 조정 */
  margin: 0 5px;
  font-size: 0.9em;
}

.loading {
  text-align: center;
  margin-top: 20px;
}

.top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #f1f1f1;
  color: #333;
  border: none;
  border-radius: 50%; /* 원형 스타일 */
  font-size: 1.2em;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
