*{
  background-color: transparent;
}

.movie-list {
  background-color: black;
  display: grid;
  gap: 1vh;
}

.movie-item {
  background-color: transparent;  
  margin: 2rem;
}

.movie-item img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;

  margin: 1vh;
}
.movie-item:hover img {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.table-view {
  background-color: black;
  display: grid; /* display: grid를 명시적으로 선언 */
  grid-template-columns: repeat(auto-fill, minmax(38svh, 1fr));
}

.scroll-view {
  display: grid; /* display: grid를 명시적으로 선언 */
  grid-template-columns: repeat(auto-fill, minmax(35vh, 1fr));
}

.pagination {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  flex-direction: row;
  font-size: 0.8em;
  background: transparent; /* 불필요한 배경 색상 제거 */
  padding: 5px; /* 버튼 간격 조정 */
}

.pagination button {
  padding: 0.5vh 1vh;
  font-size: 0.9em;
  border: none;
  background-color: transparent;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination button:hover {
  background-color: #555;
}

.pagination span {
  color: white;
  background-color: transparent;
  font-size: 1em;
}

.loading {
  --hloader-color: #9f3a8b;
  --hloader-size: 55px;
  --hloader-weight: 8px;
  --hloader-duration: 1s;
  width: var(--hloader-size);
  height: var(--hloader-size);
  color: var(--hloader-color);
  border: var(--hloader-weight) solid;
  border-top-color: transparent;
  border-radius: 50%;
  animation: hloader var(--hloader-duration) infinite linear;

  /* 하단 중앙에 고정 위치 */
  position: fixed;
  bottom: 20px; /* 하단에서 간격을 줌 */
  left: 50%;
  transform: translateX(-50%);
}
@keyframes hloader {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.top-button {
  position: fixed;
  bottom: 20px; /* 화면 아래쪽에서의 거리 */
  right: 20px; /* 화면 오른쪽에서의 거리 */
  width: 7vh; /* 버튼 크기 */
  height: 7vh; /* 버튼 크기 */
  border-radius: 50%; /* 원형으로 만들기 */
  background-color: #ffffff; /* 버튼 배경색 */
  color: #000000; /* 화살표 색상 */
  border: 2px solid #555; /* 버튼 테두리 */
  display: flex; /* 중앙 정렬 */
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
  cursor: pointer; /* 포인터 커서 */
  z-index: 1000; /* 다른 요소 위에 배치 */
  transition: transform 0.2s, background-color 0.2s; /* 효과 전환 */
}

.top-button:hover {
  background-color: #c67b7b; /* 호버 시 배경색 */
  transform: scale(1.1); /* 살짝 확대 */
}

.top-button::after {
  content: '↑'; /* 화살표 문자 */
  font-size: 1.5em; /* 화살표 크기 */
  font-weight: bold; /* 두껍게 */
  color: black; /* 화살표 색 */
}

.rating {
  position: relative;
  display: inline-block;
  font-size: 24px; /* 별 크기 */
  line-height: 1;
}

.background-stars {
  color: lightgray; /* 배경 별 색상 */
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #ff6347; /* 채워진 별 색상 */
  width: 0; /* 기본 채워진 별 없음 */
}

.text-shadow-pop-bottom {
  display: flex;
  color: white;
  justify-content: center;
  margin: 0.5vh;
  text-align: center;
  align-items: center;
  background-color: transparent;
	-webkit-animation: text-shadow-pop-bottom 0.6s both;
	        animation: text-shadow-pop-bottom 0.6s both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-11-21 22:40:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-shadow-pop-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes text-shadow-pop-bottom {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    text-shadow: 0 1px #555555, 0 1px #555555, 0 2px #555555, 0 3px #555555, 0 3px #555555, 0 3px #555555, 0 4px #555555, 0 4px #555555;
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
}
@keyframes text-shadow-pop-bottom {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    text-shadow: 0 1px #555555, 0 1px #555555, 0 2px #555555, 0 3px #555555, 0 3px #555555, 0 3px #555555, 0 4px #555555, 0 4px #555555;
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
}
